# Ansible
export ANSIBLE_HOST_KEY_CHECKING="False"

## Imported from zshrc
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# add home bin directory to path
export PATH="$PATH:$HOME/bin"

# kubeconfig
export KUBECONFS=${HOME}/.kube/conf.d

# Add all kubeconfigs
for file in $KUBECONFS/**/*(.);
    export KUBECONFIG=${KUBCONFIG}:$file

# Custom Scripts
export PATH="$PATH:$HOME/bin"

# Bitwarden Secrets folder
export BW_BITS_SECRETS=0d2c8f3e-02b1-45f7-8f6a-af9c00da0ffb
# export BW_PERSONAL_SECRETS=
# export BW_CLIENT_SECRETS=

# Github
export GITHUB_USERNAME="AaronSeibert"

# openssh
if [ -x "$(which brew)" ]; then
    export PATH=$(brew --prefix openssh)/bin:$PATH
fi

# Bitwarden Secrets
export BW_PROJECT_IMPERVA="97b06768-eaf7-4a04-9ec4-b1650153e5e5"
export BW_PROJECT_PERSONAL="fc6f8d09-29b2-475d-b3a3-b1650154f229"
export BW_PROJECT_BITS="0f8a0acd-28c0-41ec-87a9-b16501550e3b"
