# Ansible
export ANSIBLE_HOST_KEY_CHECKING="False"

## Imported from zshrc
# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"

# kubeconfig
export KUBECONFS=${HOME}/.kube/conf.d

# Add all kubeconfigs
for file in $KUBECONFS/**/*(.);
    export KUBECONFIG=${KUBCONFIG}:$file

# Custom Scripts
export PATH="$PATH:$HOME/bin"

# Bitwarden Secrets folder
export BW_SECRETS=5a0066c6-8157-4613-8849-af9c00d8e6e6

# Github
export GITHUB_USERNAME="AaronSeibert"

# openssh
if [ -x "$(which brew)" ]; then
    export PATH=$(brew --prefix openssh)/bin:$PATH
fi
