{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install jq fzf neovim antidote
{{ end -}}
mkdir -p ~/.kube/conf.d/

# install fzf keybindings and completion
/opt/homebrew/opt/fzf/install --all
